/*
 * iconfont样式声明
 */

.f-font14 {
    font-size: 14px;
}

.f-font15 {
    font-size: 15px;
}

.f-font16 {
    font-size: 16px;
}

.f-font18 {
    font-size: 18px;
}

.f-font20 {
    font-size: 20px;
}

.f-mb0 {
    margin-bottom: 0px !important;
}

.f-mt0 {
    margin-top: 0px !important;
}

.f-mb10 {
    margin-bottom: 10px !important;
}

.f-mb50 {
    margin-bottom: 50px;
}

.f-mb64 {
    margin-bottom: 64px;
}

.f-mb59 {
    margin-bottom: 59px;
}

.f-mb48 {
    margin-bottom: 48px;
}

.f-mb80 {
    margin-bottom: 80px;
}

.f-mb45 {
    margin-bottom: 45px;
}

.f-mb70 {
    margin-bottom: 70px;
}

.f-mb72 {
    margin-bottom: 72px;
}

 


 

.icon-play:before {
    content: "\e618";
}

.icon-stop:before {
    content: "\e61a";
}

/* 默认样式清除 */
*{margin: 0;padding: 0;list-style: none;}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: normal; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

html, body, #app{
	height:100%;
}