/* 全局css mixins */
/* flexBox flex容器(按照标准flex写法做封装) */
/* justify-content */
@mixin justifyContent($jc) {
	@if $jc == 'flex-start' {
		@extend %flexZStart;
	}@else if $jc == 'center' {
        @extend %flexZCenter;
	}@else if $jc == 'flex-end' {
        @extend %flexZEnd;
	}@else if $jc == 'space-between' {
        @extend %flexZBetween;
	}
}

/* align-items */
@mixin alignItems($ai) {
	@if $ai == 'center' {
		@extend %flexCCenter;
	}@else if $ai == 'flex-start' {
        @extend %flexCStart;
	}@else if $ai == 'flex-end' {
        @extend %flexCEnd;
	}@else if $ai == 'baseline' {
        @extend %flexCBaseline;
	}@else if $ai == 'stretch' {
        @extend %flexCStretch;
	}
}

/* flex-direction */
@mixin flexDirection($ai) {
	@if $ai == 'row' {
		@extend %flexZLeftRight;
	}@else if $ai == 'column' {
        @extend %flexZTopBottom;
	}@else if $ai == 'row-reverse' {
        @extend %flexZRightLeft;
	}@else if $ai == 'column-reverse' {
        @extend %flexZBottomTop;
	}
}

/* flexBox flex容器(按照标准flex写法做封装)
 * $jc:justify-content
 * $ai: align-items
*/
@mixin flexContainer($jc, $ai) {
	@extend %displayFlex;
	@include justifyContent($jc);
	@include alignItems($ai);
}

// 兼容圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}