/* 全局css mixins */
/* flexBox flex容器(按照标准flex写法做封装) */
/* justify-content */
@mixin justifyContent($jc) {
	@if $jc == 'flex-start' {
		@extend %flexZStart;
	}@else if $jc == 'center' {
        @extend %flexZCenter;
	}@else if $jc == 'flex-end' {
        @extend %flexZEnd;
	}@else if $jc == 'space-between' {
        @extend %flexZBetween;
	}
}

/* align-items */
@mixin alignItems($ai) {
	@if $ai == 'center' {
		@extend %flexCCenter;
	}@else if $ai == 'flex-start' {
        @extend %flexCStart;
	}@else if $ai == 'flex-end' {
        @extend %flexCEnd;
	}@else if $ai == 'baseline' {
        @extend %flexCBaseline;
	}@else if $ai == 'stretch' {
        @extend %flexCStretch;
	}
}

/* flex-direction */
@mixin flexDirection($fd) {
	@if $fd == 'row' {
		@extend %flexZLeftRight;
	}@else if $fd == 'column' {
        @extend %flexZTopBottom;
	}@else if $fd == 'row-reverse' {
        @extend %flexZRightLeft;
	}@else if $fd == 'column-reverse' {
        @extend %flexZBottomTop;
	}
}

/* flexBox flex容器(按照标准flex写法做封装)
 * $jc:justify-content
 * $ai: align-items
*/
@mixin flexContainer($jc, $ai) {
	@extend %displayFlex;
	@include justifyContent($jc);
	@include alignItems($ai);
}

// 兼容圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

// 盒子宽高
@mixin wh($w, $h){
	width: $w;
	height: $h;
}
/* 正方形 */
@mixin square($size){
	width: $size;
	height: $size;
}
// 定义元素字体和颜色
@mixin font($fz, $lh, $color, $ta: center, $fw: normal) {
	font-size: $fz;
	line-height: $lh;
	color: $color;
	text-align: $ta;
	font-weight:$fw;
}
// 文本不换行处理
@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*定位*/
@mixin position($position, $key1, $value1, $key2, $value2, $zIndex: 1){
	position: $position;
	#{$key1}: $value1;
	#{$key2}: $value2;
	z-index: $zIndex;
}
/*全屏*/
@mixin wholeScreen($zIndex: 1){
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: $zIndex;
}
